* {
    font-family: 'Cairo', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}

body {
    background-color: #eee;
    color: #222;
}

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #00bcd4;
    color: #fff;
    cursor: default;
}

header .download-dark button,a {
    padding: 0 10px;
    background-color: transparent;
    border-color: transparent;
    color: #fff;
    font-size: 19px;
    cursor: pointer;
}

/* ------------------- welcome -------------------- */

.welcome {
    height: 500px;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    cursor: default;
}

.welcome h1,h2 {
    color: #00bcd4;
}

.welcome h3 {
    color: #424e83;
}

.welcome .enc_or_dec {
    width: 50%;
}

.welcome .enc_or_dec a {
    margin: 10px;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #00bcd4;
    text-decoration: none;
    color: #00bcd4;
    transition-duration: 0.5s;
    font-weight: bold;
}

.welcome .enc_or_dec a:hover {
    background-color: #00bcd4;
    border-color: transparent;
    color: #fff;
}

.dark {
    background-color: #222;
    color: #eee;
}

@media screen and (max-width:415px) {
    .welcome {
        display: block;
    }
    .welcome .enc_or_dec {
        width: fit-content;
    }
}