* {
    font-family: 'Cairo', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #00bcd4;
    color: #fff;
    cursor: default;
}

header .download-dark button,a {
    padding: 0 10px;
    background-color: transparent;
    border-color: transparent;
    color: #fff;
    font-size: 19px;
    cursor: pointer;
}

.dark {
    background-color: #222;
    color: #fff;
}

.say-welcome {
    text-align: center;
    margin-top: 100px;
}

.say-welcome p a {
    color: #008192;
    transition-duration: 0.5s;
}

.say-welcome p a:hover {
    color: #00bcd4;
}

.active {
    color: #00bcd4;
}

form {
    height: 250px;
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
}

form input {
    width: 60%;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    border: #00bcd4 1px solid;
    background-color: transparent;
    color: #00bcd4;
}

form input::placeholder {
    color: #0196aa;
}

form input:focus {
    outline: none;
}

form .process {
    width: 95%;
    display: flex;
    justify-content: space-around;
}

form .process div {
    padding: 5px 15px;
    border-radius: 7px;
    background-color: #00bcd4;
    color: #fff;
    margin: 10px;
    cursor: pointer;
    transition-duration: 0.5s;
}

form .process #enc:hover {
    background-color: #008192;
}

form .process #dec {
    background-color: transparent;
    border: #00bcd4 1px solid;
    color: #00bcd4;
}

form .process #dec:hover {
    background-color: #0e454d;
    border-color: transparent;
}

form .process #clear {
    background-color: #0e454d;
    border: #0e454d 1px solid;
}

form .process #clear:hover {
    background-color: transparent;
    color: #0e8b9e;
}

.result {
    text-align: center;
}

.result p {
    width: 80%;
    padding: 10px;
    background-color: #00bcd4;
    color: #fff;
    margin: 10px auto;
    border-radius: 10px;
    font-weight: bold;
}